body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#layer1 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/1Layer1.png);
    background-size: 100%, 100%;
    top: 1%;
    animation: left 30s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer2 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/2Layer2.png);
    background-size: 100%, 100%;
    top: 1%;
    z-index: -1;
    animation: left 60s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer3 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/3Layer3.png);
    background-size: 100%, 100%;
    top: 1%;
    z-index: -2;
    animation: left 90s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer4 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/4Layer4.png);
    background-size: 100%, 100%;
    top: 1%;
    z-index: -4;
    animation: left 120s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer5 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/5Mountains.png);
    background-size: 100%, 100%;
    top: 1%;
    z-index: -5;
    animation: left 150s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer6 {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(./images/6Sun.png);
    background-size: 60%, 60%;
    background-repeat: no-repeat;
    z-index: -7;
    top: 20%;
    left: 70%;
    animation: left 180s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer7 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/7Clouds.png);
    background-size: 100%, 100%;
    top: 1%;
    z-index: -6;
    animation: left 210s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer8 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/8Stars.png);
    background-size: 40%, 40%;
    top: 1%;
    z-index: -8;
    animation: left 240s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

#layer9 {
    height: 100%;
    width: 300%;
    position: absolute;
    background: url(./images/9Background.png);
    background-size: 100%, 100%;
    top: 1%;
    z-index: -9;
}

#camel {
    height: 10%;
    width: 10%;
    background-size: 90%;
    position: absolute;
    background-image: url(./images/camel1.gif);
    z-index: -3;
    top: 50%;
    animation: right 40s infinite;
    animation-timing-function: cubic-bezier(1.0, 1.0, 1.0, 1.0)
}

@keyframes left {
    0% {
        left: 0%;
    } 
    100% {
        left: -200%;
    }
}

@keyframes right {
    0% {
        left: -10%;
    }
    100% {
        left: 120%
    }
}